@model Lexiphone.Models.Product
@{
    ViewBag.Title = "Product- " + Model.Name;
}


    <h2 style="text-align:center">@Model.Name</h2>
<div id="album-details"  >
   
    
     @*FROM HOME*@ 

    <table class="table table-bordered" >
        <tr style="background-color:cornflowerblue">

            <th style="text-align:center">PRODUCT</th>
            <th style="text-align:center">  INFO </th>
        </tr>
        <tr>
            <td>
                <div class="col-sm-push-3" >
                    <img alt="@Model.Name" src="@Model.ProductUrl" style="width:700px;height:500px" />
                </div>
            </td>
            <td>
                <div class="col-sm-pull-3">
                    <div class="w3-row; col-sm-push-3">
                        <a href="javascript:void(0)" onclick="proinfo(event, 'Product');">
                            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">MODEL</div>
                        </a>
                        <a href="javascript:void(0)" onclick="proinfo(event, 'DESC');">
                            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Description</div>
                        </a>
                        <a href="javascript:void(0)" onclick="proinfo(event, 'PRICE');">
                            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">PRICE</div>
                        </a>


                    </div>

                    <div id="Product" class="w3-container city" style="display:none">
                        <h2>@Model.Name </h2>
                    </div>
                    <div id="DESC" class="w3-container city" style="display:none">
                        <h2 style="text-align:justify">@Model.Description</h2>
                        
                    </div>
                    <div id="PRICE" class="w3-container city" style="display:none">
                        <h2>@String.Format("{0:F}", Model.CurrentPrice)</h2>
                    </div>

                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <p class="btn btn-danger" style="width:500px; text-align:center" onclick="myFunction()">
                    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductId }, "")
                </p>

              


            </td>
        </tr>

    </table>

    <script>
        function myFunction() {
        alert("THE PRODUCT HAS BEEN ADDED TO YOUR CART!! TO CHECK OUT GO TO CART");
        }
    </script>
    <script>
        function proinfo(evt, cityName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("city");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" w3-border-blue ", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.firstElementChild.className += " w3-border-blue ";
    }
    </script>

   







</div>





















@*@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img alt="@Model.Name"
                 src="@Model.ProductUrl" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.ProductUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUrl)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>


    </dl>
</div>

    @Html.ActionLink("Add To Cart", "AddToCart","ShoppingCart")
<p class="button">
    <div class="btn btn-default" style="width:100px">  @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductId },"")</div>
    <div class="btn btn-default" style="width:100px">  @Html.ActionLink("Back to List", "Index")</div>
    <div class="btn btn-default" style="width:100px">  @Html.ActionLink("BUY", "Index", "ShoppingCart")</div>*@



    @*@Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductId },"")|
     @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("BUY","Index", "ShoppingCart")</p>*@
@*</p>*@

