@model Lexiphone.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dd>

            <img alt="@Model.Name"
                 src="@Model.ProductUrl" />

        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        
        @*<dt>
            @Html.DisplayNameFor(model => model.ProductUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUrl)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>
        

    </dl>
</div>

    @*@Html.ActionLink("Add To Cart", "AddToCart","ShoppingCart")*@
<p class="button">
    @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductId },"")| @Html.ActionLink("Back to List", "Index")|@Html.ActionLink("BUY","Index", "ShoppingCart")</p>
</p>
