@model Lexiphone.Models.Product
@{
    ViewBag.Title = "Product- " + Model.Name;
}


    <h2>@Model.Name</h2>
<div id="album-details" style="border-color:black; border-style:inset">
    <p>
        <img alt="@Model.Name" src="@Model.ProductUrl" />
    </p>

    <h4>
        <em>Description:</em>
        @Model.Description
    </h4>
    <h4>
        <em>Product:</em>
        @Model.Name
    </h4>
    <h4>
        <em>Price:</em>
        @String.Format("{0:F}", Model.CurrentPrice)
    </h4>
    <p class="btn btn-danger">
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductId },  "")
    @*<p><a class="btn btn-default" href="@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductId }, "")">&raquo;</a></p>*@
        
        </p>
    @*new  with {.class = "btn" }*@







</div>





















@*@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img alt="@Model.Name"
                 src="@Model.ProductUrl" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.ProductUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUrl)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>


    </dl>
</div>

    @Html.ActionLink("Add To Cart", "AddToCart","ShoppingCart")
<p class="button">
    <div class="btn btn-default" style="width:100px">  @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductId },"")</div>
    <div class="btn btn-default" style="width:100px">  @Html.ActionLink("Back to List", "Index")</div>
    <div class="btn btn-default" style="width:100px">  @Html.ActionLink("BUY", "Index", "ShoppingCart")</div>*@



    @*@Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductId },"")|
     @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("BUY","Index", "ShoppingCart")</p>*@
@*</p>*@

