@model IEnumerable<Lexiphone.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" >
   

@foreach (var item in Model)
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th style="text-align:center; font-size:x-large">
            @Html.DisplayNameFor(model => model.ProductUrl)
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>*@
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ProductUrl)"/>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CatId)
        </td>*@
        <td style="color:yellow">
            <div class="btn btn-default" style="width:80px; "> @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })</div> 
            <div class="btn btn-default"style="width:80px">@Html.ActionLink("Details", "Details", new { id = item.ProductId })</div> 
            <div class="btn btn-default"style="width:80px">  @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })</div>
           
</td>
    </tr>
}

</table>
@*<div class="btn btn-danger">
    @Html.ActionLink(">>", "AddressAndPayment", "Checkout") Finish Shopping
</div>*@


@*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@


@*on klick
<button onclick="myFunction()">Click me</button>*@


@*<input type="button" value="Create" onclick="location.href='@Url.Action("Create", "User")'" />*@
