@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    <button class="btn btn-primary" style = "background-color:black">
    @Html.ActionLink("Create New", "Create", "Role") 
    </button>
    <button class="btn btn-primary" style = "background-color:black">
    @Html.ActionLink("Assign Role to user", "AssignRoleToUser", "Role")
    </button>
</p>
<table class="active" style="background-color:darkgray">
    <tr>
        <th style="background-color:black">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           

            <td>
               
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary", @style = "color:#00ffff; width:80px" })
            </td>
            
        </tr>
    }
   

</table>
<button class="btn btn-primary" style="background-color:black">
    @Html.ActionLink("MAIN ADMIN", "Index", "Admin")
</button>

